@use "global" as *;
/* ===============================================
# フェードアニメーション：IntersectionObserver
=============================================== */

/* フェード */
.js-fade-in {
  opacity: 0;
  transition: opacity 2s ease-in-out;

  &.is-active {
    opacity: 1;
  }
}

//画像拡大 -> 縮小
.js-scaleImg {
  overflow: hidden;

  img {
    scale: 1.2;
    transition: scale 1.5s ease, opacity 1.5s ease;
    opacity: 0;

    @include mq('md') {
      transition-delay: .2s;
    }
  }

  &.is-active img {
    scale: 1;
    opacity: 1;
  }
}

.js-bg-text::before {
  opacity: 0;
  transition: opacity 1.5s ease-out;
  transition-delay: 0.6s;
}

.js-bg-text.is-active::before {
  opacity: 1;
}

////////////////////
// 遅延時間の指定
////////////////////

:root {
  --delay-1: 0.2s;
  --delay-2: 0.4s;
  --delay-3: 0.6s;
  --delay-4: 0.8s;
}

.--delay-1 {
  transition-delay: var(--delay-1);
}

.--delay-2 {
  transition-delay: var(--delay-2);
}

.--delay-3 {
  transition-delay: var(--delay-3);
}

.--delay-4 {
  transition-delay: var(--delay-4);
}

@media (max-width: 768px) {

  .--delay-1,
  .--delay-2,
  .--delay-3,
  .--delay-4 {
    transition-delay: .2s;
  }
}