@use "global"as *;

.company {
  padding-top: rem(80);

  @include mq('md') {
    padding-top: rem(140);
  }
}

.company__content {
  margin-top: rem(40);

  @include mq('md') {
    margin-top: rem(55);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: rem(60);
  }
}

.company__list {
  @include mq('md') {
    border-block: 1px solid #00000080;
  }
}

.company__list--left {
  @media (max-width: 767px) {
    border-top: 1px solid #00000080;
  }
}

.company__item {
  padding-block: rem(18);
  display: grid;
  letter-spacing: .04em;
  font-size: rem(12);
  font-feature-settings: "palt";
  line-height: 1.6;
  grid-template-columns: rem(70) auto;

  @include mq('md') {
    font-size: rem(14);
    grid-template-columns: rem(100) auto;
  }
}

.company__item:not(:last-child) {
  border-bottom: 1px solid #00000080;
}

.company__term {
  font-weight: var(--font-weight-bold);
}

.company__desc {
  font-weight: var(--font-weight-normal);
}

.company__list--right {
  @media (max-width: 767px) {
    border-block: 1px solid #00000080;
  }
}