@use "global"as *;

.mv {
  height: auto;
  padding-top: rem(80);

  @include mq('md') {
    padding-top: rem(90);
    height: clamp(810px, 100vh, 970px);
  }
}

.mv__inner {
  height: 100%;
  position: relative;
}

.mv__text-wrap {
  align-items: center;
  display: flex;
  flex-direction: column;
  inset: 0;
  justify-content: center;
  padding: 0 rem(34);
  position: absolute;
  z-index: 3;

  @include mq('md') {
    padding: 0 rem(40);
  }
}

.mv__overlay {
  background-color: rgba(0, 0, 0, 0.2);
  inset: 0;
  pointer-events: none;
  position: absolute;
  z-index: 2;
}

.mv__title-picture {
  display: flex;
  max-width: 100%;
  width: 100%;
  @include mq('md') {
    justify-content: center;
  }
}

.mv__title-img {
  display: block;
  height: auto;
  max-width: rem(450);
  width: 86.5%;

  @include mq('md') {
    width: 90%;
    max-width: rem(1260);
  }
}

.mv__lead {
  color: var(--white);
  font-size: clamp(9px, calc((#{"16 * 100"} / var(--cq-ref-mobile) * 1cqw)), 30px);
  line-height: 1.8;
  margin-top: rem(16);
  width: 100%;

  @include mq('md') {
    font-size: clamp(9px, calc((#{"32 * 100"} / var(--cq-ref) * 1cqw)), 36px);
    margin-top: rem(24);
    text-align: center;
  }
}

.mv__swiper,
.mv__swiper .swiper-img {
height: 100%;
}

.mv__swiper .swiper-img img {
  object-fit: cover;
  height: 100%;
}


.mv__swiper .swiper-slide.swiper-slide-active .swiper-img,
.mv__swiper .swiper-slide.swiper-slide-duplicate-active .swiper-img,
.mv__swiper .swiper-slide.swiper-slide-prev .swiper-img {
  animation: scale 8s linear 0s normal both;
  transform-origin: center center;
will-change: transform;
}

@keyframes scale {
  0% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

/* ===============================================
# スクロールダウン
=============================================== */

.scrolldown {
  position: absolute;
  bottom: 1%;
  right: rem(70);
  animation: arrowmove 2s ease-in-out infinite;
  z-index: 3;

  @media (max-width: 767px) {
    display: none;
  }
}

@keyframes arrowmove {
  0% {
    bottom: 1%;
  }

  50% {
    bottom: 3%;
  }

  100% {
    bottom: 1%;
  }
}

.scrolldown span {
  position: absolute;
  left: -60px;
  bottom: 30px;
  color: #eee;
  font-size: 12px;
  letter-spacing: 0.05em;
  font-weight: var(--font-weight-regular);
  text-transform: uppercase;
  white-space: nowrap;
}

.scrolldown:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: -3px;
  width: 1px;
  height: 10px;
  background: #eee;
  transform: skewX(-31deg);
}

.scrolldown:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 1px;
  height: 50px;
  background: #eee;
}